<ion-view style="" class=" " id="page8" title="New & Arrival">
    <ion-content class="has-header" padding="true"></ion-content>
	<ion-content>
	<div class="card">
	<div> 
      <img src="img/4.jpg" width="100%">
	  </div >
      <h3>New & Now</h3>
   </div>
   <div class="card">
	
      <img src="img/6.jpg" width="100%">
	  <h3>Special Offer</h3>
      <h4>Don't miss your chance to save up to 70% on discontinued items</h4>
   </div>
   <div class="card">
	
      <img src="img/5.jpg" width="100%">
   </div>
   

    <div class="card">
      <div class="item item-icon-left" ng-click="openComments()">
      </div>
    </div>
  </ion-content>
</ion-view>