<ion-view style="" class=" " id="page13" title="Support">
    <ion-content class="has-header" padding="false" >



      <ion-list class=" " >
<div class="row">
        <!-- Profile Cover Page -->
        <div class="support-nav col col-50 ">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/nut.jpg">
              </a>
              <p style="color: #ffffff;">Panitta Suksaran 5788101</p>
            </div>
          </div>
        </div>
        <!-- Profile Cover Page -->
        <div class="support-nav col col-50 ">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/jam.jpg">
              </a>
              <p style="color: #ffffff;">Kamonwan   Koophiran 5788199</p>
            </div>
          </div>
        </div>


</div>
<div class="row">
        <!-- Profile Cover Page -->
        <div class="support-nav col col-50 ">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/mon.jpg">
              </a>
              <p style="color: #ffffff;">Akkarawat   Wongnuttanate 5788277</p>
            </div>
          </div>

        </div>
        <!-- Profile Cover Page -->
        <div class="support-nav col col-50 ">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/fia.jpg">
              </a>
              <p style="color: #ffffff;">Lalita   Raksaithong 5788299</p>
            </div>
          </div>
        </div>


</div>
      </ion-list>





    </ion-content>
</ion-view>
